<ion-header class="ion-no-border">
  <ion-toolbar color="cast-bg" mode="md">
    <ion-title> IonCast </ion-title>
    <div
      slot="end"
      mode="ios"
      class="ion-padding-end avatar"
      (click)="openProfile()"
    >
      <img src="/assets/images/avatar.jpg" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="cast-bg ion-padding">
  <div>
    <ion-searchbar
      mode="md"
      placeholder="Type here to search..."
      animated="true"
      debounce="500"
      enterkeyhint="search"
      (keypress)="search($event)"
      #searchBar
    ></ion-searchbar>
  </div>

  <section class="discover">
    <h3>Discover</h3>
    <div class="discover-list">
      <div
        class="discover-card"
        *ngFor="let item of discoverList"
        (click)="channel(item)"
      >
        <img [src]="item?.cover" alt="" />
        <ion-label> {{item?.podcast}} </ion-label>
      </div>
    </div>
  </section>

  <section class="fresh">
    <div class="header-double">
      <h3>Fresh</h3>
      <ion-label> See all </ion-label>
    </div>

    <ul class="fresh-list" lines="none">
      <li *ngFor="let podcast of fresh" (click)="castPod(podcast)">
        <div class="fresh-meta">
          <div class="fresh-image">
            <img [src]="podcast?.cover" />
          </div>
          <div class="fresh-info">
            <ion-label class="fresh-list-title">{{podcast?.title}}</ion-label>
            <ion-label>{{podcast?.podcast}}</ion-label>
            <ion-label>{{podcast?.date}} | {{podcast?.duration}}</ion-label>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <!-- <ion-modal
    [isOpen]="isActive"
    [breakpoints]="[0, 0.7, 1]"
    [initialBreakpoint]="0.7"
    class="profile-sheet"
    (didDismiss)="openProfile()"
  >
    <ng-template>
      <app-profile></app-profile>
    </ng-template>
  </ion-modal> -->
</ion-content>
